[submodule "BreezeCommon"]
	path = BreezeCommon
	url = https://github.com/BreezeHub/BreezeCommon.git
[submodule "StratisBitcoinFullNode"]
	path = StratisBitcoinFullNode
	url = https://github.com/stratisproject/StratisBitcoinFullNode.git
